<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>smartlock-backend</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>smartlock-backend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="smartlock_localEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=LAPTOP-JA56NN4R\SQLEXPRESS;Initial Catalog=smartlock_local;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="smartlock_backend.Models.smartlock_localEntities, smartlock-backend" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProdEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=smartlock-aws.clch9fh6mkji.us-east-1.rds.amazonaws.com;Initial Catalog=smartlock-production;Persist Security Info=True;User ID=admin;Password=505RejRobMv13;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProdEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ModelProd.csdl|res://*/Models.ModelProd.ssdl|res://*/Models.ModelProd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=smartlock-aws.clch9fh6mkji.us-east-1.rds.amazonaws.com;initial catalog=smartlock-production;persist security info=True;user id=admin;password=505RejRobMv13;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProdEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="smartlock_localEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=LAPTOP-JA56NN4R\SQLEXPRESS;Initial Catalog=smartlock_local;Integrated Security=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>